/*-Sprites-*/

.sprites {
    background-image: url("../img/sprites.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite--icon-basket {
    width: 17px;
    height: 16px;
    background-position: -10px -10px;
}

.sprite--icon-bookmark {
    width: 14px;
    height: 16px;
    background-position: -10px -46px;
}

.sprite--icon-check-off {
    width: 23px;
    height: 23px;
    background-position: -10px -82px;
}

.sprite--icon-check-on {
    width: 27px;
    height: 23px;
    background-position: -10px -125px;
}

.sprite--icon-circle {
    width: 25px;
    height: 25px;
    background-position: -10px -168px;
}

.sprite--icon-circle-dot {
    width: 25px;
    height: 25px;
    background-position: -10px -213px;
}

.sprite--icon-home {
    width: 15px;
    height: 12px;
    background-position: -10px -258px;
}

.sprite--icon-login-blue {
    width: 20px;
    height: 17px;
    background-position: -10px -290px;
}

.sprite--icon-login-grey {
    width: 20px;
    height: 17px;
    background-position: -10px -327px;
}

.sprite--icon-narrow {
    width: 22px;
    height: 40px;
    background-position: -10px -364px;
}

.sprite--icon-phone {
    width: 19px;
    height: 19px;
    background-position: -10px -424px;
}

.sprite--icon-search-grey {
    width: 17px;
    height: 17px;
    background-position: -10px -463px;
}

.sprite--icon-search-red {
    width: 17px;
    height: 17px;
    background-position: -10px -500px;
}

.sprite--icon-search-white {
    width: 17px;
    height: 17px;
    background-position: -10px -537px;
}

.sprite--icon-user-blue {
    width: 20px;
    height: 18px;
    background-position: -10px -574px;
}

.sprite--icon-user-grey {
    width: 20px;
    height: 18px;
    background-position: -10px -612px;
}

.sprite--social-facebook {
    width: 10px;
    height: 18px;
    background-position: -10px -650px;
}

.sprite--social-instagramm {
    width: 17px;
    height: 17px;
    background-position: -10px -688px;
}

.sprite--social-vk {
    width: 20px;
    height: 12px;
    background-position: -10px -725px;
}


.sprite-offers {
    background-image: url("../img/spritesheet-offers.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-offer-delivery {
    width: 140px;
    height: 123px;
    background-position: -10px -10px;
}

.sprite-offer-discount {
    width: 140px;
    height: 123px;
    background-position: -10px -153px;
}

.sprite-offer-instrument {
    width: 140px;
    height: 123px;
    background-position: -10px -296px;
}

.sprite-offer-materials {
    width: 140px;
    height: 123px;
    background-position: -10px -439px;
}

.sprite-offer-tech {
    width: 140px;
    height: 123px;
    background-position: -10px -582px;
}

/*-Global-*/

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 21px;
  font-family: "Cuprum", "Verdana", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

h2 {
  font-size: 30px;
  font-family: "Cuprum", "Verdana", sans-serif;
  line-height: 38px;
  color: #32425c;
}

h3 {
  font-size: 30px;
  font-family: "Cuprum", "Verdana", sans-serif;
  line-height: 30px;
  color: 000;
}

a {
  text-decoration: none;
  font-family: "Cuprum", "Verdana", sans-serif;
  color: #ffffff;
}

.hidden {
  display: hidden;
}

.hollow {
  visibility: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.outl {
  outline: 1px solid red;
}

.new-flag {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 60px;
  height: 59px;
  font-size: 0;
  background: url("../img/new-flag.png") no-repeat;
}

.btn {
  display: block;
  padding: 6px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Cuprum", "Verdana", sans-serif;
  background-color: #ee3643;
  border: 4px solid #ee3643;
  border-radius: 3px;
}

/*-Top section-*/

.top-section {
  background-color: #293449;
}

.top-section-left {
  float: left;
  width: 490px;
}

.logo {
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.top-logo {
  width: 202px;
  padding: 9px;
}

.search-form {
  position: relative;
  float: left;
  width: 270px;
}

.search-label {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  font-size: 0;
  background: url("../img/sprites.png") no-repeat;
  background-position: -10px -463px;
}

.search-input {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 12px 12px 48px;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  border: none;
  background-color: #293449;
}

.search-input:hover {
  background-color: #212a3a;
}

.search-input:hover + .search-label {
  background-position: -10px -537px;
}

.search-input:focus {
  outline: none;
  border: none;
  color: #000000;
  background-color: #ffffff;
}

.search-input:focus + .search-label {
  background-position: -10px -500px;
}

.search-input::-webkit-input-placeholder {
  color: #ffffff;
}

.search-input::-moz-placeholder {
  color: #ffffff;
}

.search-label:active {
  background-color: #ffffff;
  background-position: -10px -500px;
}

/*-Top-section-right-*/

.top-section-right {
  float: right;
  width: 450px;
}

.top-section-btn {
  position: relative;
  display: block;
  float: left;
  width: 122px;
  padding: 12px 28px 12px 0;
  font-size: 17px;
  line-height: 18px;
  text-align: right;
}

.bookmarks-btn::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -10px -46px;
  opacity: 0.3;
}

.cart-btn::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 16px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -10px -10px;
  opacity: 0.3;
}

.order-btn {
  width: 126px;
  padding: 12px;
  text-align: center;
  background-color: #63a63e;
}
.top-section-btn:hover {
  background-color: #212a3a;
}

.top-section-btn:hover::before {
  opacity: 1;
}

.order-btn:hover {
  background-color: #5fbb2d;
}

.order-btn:active,
.top-section-btn:active {
  opacity: 0.6;
}

/*-Header-*/

.header {
  margin-bottom: 57px;
  padding: 46px 0 60px 0;
  background-color: #f1f5f7;
}

.header-section {
  margin-bottom: 39px;
}

.shop-description {
  float: left;
  width: 200px;
  margin: 0;
  padding: 2px 50px 0 50px;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
  float: left;
  width: 300px;
  margin-left: 20px;
}

.header-phone {
  position: relative;
  float: left;
  width: 214px;
  padding: 9px 50px 9px 0;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: right;
  color: #e9292a;
  border: 3px solid white;
}

.header-phone:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 9px;
  width: 19px;
  height: 19px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -10px -424px;
}

.header-address {
  display: block;
  clear: both;
  width: 270px;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  color: #32425c;
}

.user-block {
  float: right;
  min-width: 300px;
  text-align: right;
  font-size: 0;
}

.user-block-btn {
  display: inline-block;
  padding: 12px 24px;
  color: #000000;
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
}

.login-btn {
  position: relative;
  padding-left: 49px;
}

.login-btn::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -10px -327px;
}

.register-btn {
  margin-left: 10px;
}
/*--Main menu--*/
.navigation {
  margin: 0;
  padding: 0;
  background-color: #32425c;
  list-style-type: none;
  text-align: center;
  font-size: 0;
}

.navigation li {
  display: inline-block;
  vertical-align: top;
}

.navigation a {
  display: block;
  padding: 19px 30px;
  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 5px solid #293449;
}

.navigation li:last-child a {
  padding-right: 55px;
}

.navigation li:first-child a {
  padding-left: 55px;
}

/*--Index content--*/

.index-content {}

.offers-top-section {}

/*--Offers--*/

.offer {
  position: relative;
  float: left;
  width: 300px;
  margin: 0 0 20px 20px;
  height: 123px;
  background-color: #f6b22d;
}

.offer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 123px;
  background: url("../img/spritesheet-offers.png") no-repeat;
}

.offer-1 {
  margin-left: 0;
}

.offer-1::after {
  background-position: -10px -439px;
}

.offer-2 {
  background-color: #4aafde;
}

.offer-2::after {
  background-position: -10px -296px;
}

.offer-3 {
  background-color: #cc79d1;
}

.offer-3::after {
  background-position: -10px -582px;
}

.offers-section {
  margin-bottom: 52px;
}

.offer-4 {
  background-color: #85d179;
}

.offer-4::after {
  background-position: -10px -153px;
}

.offer-5 {
  background-color: #f6b22d;
  margin-bottom: 0;
}

.offer-5::after {
  background-position: -10px -10px;
}

.offer-section {
  float: left;
  width: 138px;
  padding: 26px 0 0 22px
}

.offer-title {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  color: #fff;
}

.offer-link {
  display: block;
  float: right;
  width: 111px;
  padding: 12px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

/*--Slider--*/

.slider {
  float: left;
  width: 620px;
  height: 266px;
}

/*--Index-popular--*/

.index-popular-header {
  margin-bottom: 21px;
  padding: 26px 23px 25px 28px;
  background-color: #f7f3ec;

}

.index-popular-title {
  float: left;
  margin: 7px 0 0 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.popular-header-btn {
  float: right;
  width: 233px;
}

.items-row {
  margin-left: -20px;
}

.index-popular-items {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style-type: none;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin: 0 0 21px 20px;
  border: 1px solid #e5e5e5;
  font-family: "PT Sans" , "Verdana", sans-serif;
  vertical-align: top;
  background-color: #fff;
}

.catalog-new-flag {
  top: -1px;
  right: -1px;
  z-index: 10;
}

.catalog-actions {
  display: none;
}

.catalog-item img {
  width: 100%;
}

.catalog-item-image {
  margin-bottom: 8px;
  width: 218px;
  height: 170px;
}

.catalog-item-category,
 .catalog-item-model {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.catalog-item-model {
  margin-bottom: 11px;
}

.catalog-item-discount {
  display: block;
  margin-bottom: 11px;
  font-size: 17px;
  line-height: 19px;
  font-weight: bold;
  text-decoration: line-through;
  text-align: center;
  color: #999;
}

.catalog-item-price {
  position: relative;
  width: 121px;
  margin: 0 0 20px 42px;
  padding: 10px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px;
}

.catalog-item-price::after {
  content: "";
  top: 0;
  right: -19px;
  position: absolute;
  border: 19px solid #fff;
  border-left-color: #ee3643
}

.index-popular-brands {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
  margin-bottom: 65px;
}

.index-popular-brands li {
  position: relative;
  display: inline-block;
  width: 218px;
  height: 143px;
  margin: 0 0 20px 20px;
  border: 1px solid #e5e5e5;
}

.index-popular-brands img {
  width: 100%;
}

/*-----------Services-----------*/

.services {
  padding: 64px 0 102px 0;
  background-color: #f2f6f8;
}

.services h3 {
  margin: 0 0 25px 0;
  padding: 0;
  text-transform: uppercase;
}

.services p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans" , "Verdana", sans-serif;
}

.services-section {

}

.services-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
