/*===========*/
/*==Sprites==*/
/*===========*/
.sprite {
    background-image: url("spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite--icon-basket {
    width: 17px;
    height: 16px;
    background-position: -10px -10px;
}

.sprite--icon-bookmark {
    width: 14px;
    height: 16px;
    background-position: -10px -46px;
}

.sprite--icon-check-off {
    width: 23px;
    height: 23px;
    background-position: -10px -82px;
}

.sprite--icon-check-on {
    width: 27px;
    height: 23px;
    background-position: -10px -125px;
}

.sprite--icon-circle {
    width: 25px;
    height: 25px;
    background-position: -10px -168px;
}

.sprite--icon-circle-dot {
    width: 25px;
    height: 25px;
    background-position: -10px -213px;
}

.sprite--icon-home {
    width: 15px;
    height: 12px;
    background-position: -10px -258px;
}

.sprite--icon-login-blue {
    width: 20px;
    height: 17px;
    background-position: -10px -290px;
}

.sprite--icon-login-grey {
    width: 20px;
    height: 17px;
    background-position: -10px -327px;
}

.sprite--icon-narrow {
    width: 22px;
    height: 40px;
    background-position: -10px -364px;
}

.sprite--icon-phone {
    width: 19px;
    height: 19px;
    background-position: -10px -424px;
}

.sprite--icon-search-grey {
    width: 17px;
    height: 17px;
    background-position: -10px -463px;
}

.sprite--icon-search-red {
    width: 17px;
    height: 17px;
    background-position: -10px -500px;
}

.sprite--icon-search-white {
    width: 17px;
    height: 17px;
    background-position: -10px -537px;
}

.sprite--icon-user-blue {
    width: 20px;
    height: 18px;
    background-position: -10px -574px;
}

.sprite--icon-user-grey {
    width: 20px;
    height: 18px;
    background-position: -10px -612px;
}

.sprite--social-facebook {
    width: 10px;
    height: 18px;
    background-position: -10px -650px;
}

.sprite--social-instagramm {
    width: 17px;
    height: 17px;
    background-position: -10px -688px;
}

.sprite--social-vk {
    width: 20px;
    height: 12px;
    background-position: -10px -725px;
}

/*Я забыл эту иконку сразу добавить в спрайт*/
/*И чтобы потом не менять все размеры*/
/*добавил ее в конец спрайта*/
/*поэтому у неё такое странное имя*/

.sprite--social-zy {
    width: 21px;
    height: 17px;
    background-position: -10px -757px;
}


/*==========*/
/*==Global==*/
/*==========*/

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 21px;
  font-family: "Cuprum", Verdana, sans-serif;
  color: #000000;
  background-color: #ffffff;
}

h2 {
  font-size: 30px;
  font-family: "Cuprum", Verdana, sans-serif;
  line-height: 38px;
  color: #32425c;
}

h3 {
  font-size: 30px;
  font-family: "Cuprum", Verdana, sans-serif;
  line-height: 30px;
  color: #000;
}

a {
  text-decoration: none;
  font-family: "Cuprum", Verdana, sans-serif;
  color: #ffffff;
}

p {
  font-size: 13px;
  font-family: "Pt Sans", Verdana, sans-serif;
  line-height: 17px;
  color: #000;

}

.hidden {
  display: none;
}

.hollow {
  visibility: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.outl {
  outline: 1px solid red;
}

.new-flag {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 60px;
  height: 59px;
  font-size: 0;
  background: url("../img/new-flag.png") no-repeat;
}

.btn {
  display: block;
  padding: 6px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Cuprum", Verdana, sans-serif;
  background-color: #ee3643;
  border: 4px solid #ee3643;
  border-radius: 4px;
}

.btn:hover {
  background-color: #ca2c37;
  border-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
  border-color: #ba2732;
}

/*=============*/
/*=Top section=*/
/*=============*/

.top-section {
  background-color: #293449;
}

.top-section-left {
  float: left;
  width: 490px;
}

.logo {
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.top-logo {
  width: 202px;
  padding: 9px;
}

.logo-link:hover {
  background-color: #ca2c37;
}

.logo-link:active {
  background-color: #ba2732;
}

.logo-link-disabled:hover {
  cursor: default;
}

.search-form {
  position: relative;
  float: left;
  width: 270px;
}

.search-label {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  font-size: 0;
  background: url("../img/sprites.png") no-repeat;
  background-position: -10px -463px;
}

.search-input {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 12px 12px 48px;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  border: none;
  background-color: #293449;
}

.search-input:hover {
  background-color: #212a3a;
}

.search-input:hover + .search-label {
  background-position: -10px -537px;
}

.search-input:focus {
  outline: none;
  border: none;
  color: #000000;
  background-color: #ffffff;
}

.search-input:focus + .search-label {
  background-position: -10px -500px;
}

.search-input::-webkit-input-placeholder {
  color: #ffffff;
}

.search-input::-moz-placeholder {
  color: #ffffff;
}

.search-label:active {
  background-color: #ffffff;
  background-position: -10px -500px;
}

/*===================*/
/*=Top-section-right=*/
/*===================*/

.top-section-right {
  float: right;
  width: 450px;
}

.top-section-btn {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: block;
  float: left;
  width: 150px;
  height: 42px;
  padding: 12px 28px 0 0;
  font-size: 17px;
  line-height: 18px;
  text-align: right;
}

.bookmarks-btn::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -10px -46px;
  opacity: 0.3;
}

.cart-no-empty {
  background-color: #ee3643;
}

.bookmarks-no-empty {
  background-color: #ee3643;
}

.cart-btn::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 16px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -10px -10px;
  opacity: 0.3;
}

.order-btn {
  width: 150px;
  padding: 12px 12px 0 12px;
  text-align: center;
  background-color: #63a63e;
}
.top-section-btn:hover {
  background-color: #212a3a;
}

.top-section-btn:hover::before {
  opacity: 1;
}

.order-btn:hover {
  background-color: #5fbb2d;
}

.order-btn:active,
.top-section-btn:active {
  opacity: 0.6;
}

/*==========*/
/*==Header==*/
/*==========*/

.header {
  padding: 46px 0 60px 0;
  background-color: #f1f5f7;
}

.header-section {
  margin-bottom: 39px;
}

.shop-description {
  float: left;
  width: 200px;
  margin: 0;
  padding: 2px 50px 0 50px;
  font-size: 16px;
  font-style: italic;
  font-family: "Cuprum", Verdana, sans-serif;
  line-height: 23px;
  color: #ee3643;

}

.header-contacts {
  float: left;
  width: 300px;
  margin-left: 20px;
}

.header-phone {
  position: relative;
  float: left;
  width: 214px;
  padding: 9px 50px 9px 0;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: right;
  color: #e9292a;
  border: 3px solid white;
}

.header-phone:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 9px;
  width: 19px;
  height: 19px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -10px -424px;
}

.header-address {
  display: block;
  clear: both;
  width: 270px;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  color: #32425c;
}

.user-block {
  float: right;
  min-width: 300px;
  text-align: right;
  font-size: 0;
}

.user-block-btn {
  display: inline-block;
  padding: 12px 24px;
  color: #000000;
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  vertical-align: top;
  background-color: #ffffff;
}

.user-in {
  position: relative;
  width: 213px;
  padding: 12px 0 12px 46px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-in::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;
  width: 20px;
  height: 18px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -10px -612px;
}

.log-out {
  position: relative;
  width: 41px;
  height: 45px;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.log-out::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 10px;
  width: 21px;
  height: 17px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -10px -757px;
}

.login-btn {
  position: relative;
  padding-left: 49px;
}

.login-btn::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -10px -327px;
}

.register-btn {
  margin-left: 10px;
}

.user-pages {
  margin: 6px 0 0 0;
  padding: 0;
  text-align: left;
  line-height: 0;
  list-style: none;
}

.user-pages li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.user-pages a {
  position: relative;
  margin: 0 18px;
  color: #32425c;
  font-size: 16px;
  line-height: 21px;
  text-decoration: underline;
}

.user-pages li:nth-child(2) a:before {
  content: "";
  position: absolute;
  top: 7px;
  left: -20px;
  width: 5px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
}

.user-block-btn:hover {
  color: #ee3643;
}

.user-block-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-btn:hover::before {
  background-position: -10px -290px;
}

.login-btn:active::before {
  background-position: -10px -327px;
}

.user-in:hover {
  color: #000;
}

.user-in:hover::before {
  background-position: -10px -574px;
}

.user-in:active::before {
  background-position: -10px -612px;
}

.log-out:hover::before {
  background-position: -10px -794px;
}

.log-out:active::before {
  background-position: -10px -757px;
}

.user-pages a:hover {
  color: #ee3643;
}

.user-pages a:active {
  color: rgba(0, 0, 0, 0.3);
}



/*=============*/
/*==Main menu==*/
/*=============*/

.navigation {
  margin: 0;
  padding: 0;
  background-color: #32425c;
  list-style: none;
  text-align: center;
  font-size: 0;
  border-bottom: 5px solid #293449;
}

.navigation li {
  display: inline-block;
  vertical-align: top;
}

.navigation a {
  display: block;
  padding: 19px 30px;
  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
  background-color: #32425c;
}

.navigation a:hover {
  background-color: #293449;
}

.navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
  box-shadow: 0 5px 0 0 #1d2739;
}

.navigation li:last-child a {
  padding-right: 55px;
}

.navigation li:first-child a {
  padding-left: 55px;
}

/*=================*/
/*==Index content==*/
/*=================*/
.index-content {}

.catalog-section{
  margin-bottom: 60px;
}

/*================*/
/*==Bread-crumbs==*/
/*================*/

.bread-crumbs {
  margin: 18px 0;
  padding: 0;
}

.bread-crumbs li {
  display: inline;
  vertical-align: middle;
}

.bread-crumbs a {
  position: relative;
  margin-left: 37px;
  color: #000;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Verdana, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}


/*Просто я забыл добавить эту иконку в спрайт)))*/
.bread-crumbs a:before {
  content: "";
  position: absolute;
  top: 3px;
  left: -28px;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-color: #d2d6db #d2d6db #fff #fff;
  transform: rotate(45deg);
  cursor: default;
}

.bread-crumbs li:first-child a {
  margin-left: 54px;
}

.bread-crumbs li:last-child a {
  cursor: default;
  color: #999;
}

.bread-crumbs li:first-child a:after {
  content: "";
  position: absolute;
  top: 2px;
  left: -54px;
  width: 15px;
  height: 12px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -10px -258px;
}

.offers-top-section {
  margin-top: 57px;
}

/*===================*/
/*==Catalog content==*/
/*===================*/

.catalog-header {
  margin-bottom: 23px;
  padding: 24px 23px 25px 28px;
  background-color: #f2f6f8;
}

.catalog-header-title {
  margin: 7px 0 0 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

/*===========*/
/*==Sidebar==*/
/*==========*/

.sidebar {
  float: left;
  width: 220px;
}

.filter-header {
  margin: 0 0 12px 0;
  padding: 10px 18px;
  background-color: #f7f3ec;
  border-radius: 4px;
}

.filter-header-title {
  float: left;
  font-family: "PT Sans", Verdana, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-fieldset {
  margin: 0 0 16px 0;
  padding: 0;
  border-width: 0 0 1px 0;
  border-color: #f7f3ec;
}

.filter-fieldset:last-of-type {
  margin-bottom: 57px;
  border: none;
}

.filter-section-title {
  margin-bottom: 14px;
  font-family: "PT Sans", Verdana, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.range-controls {
  width: 192px;
  margin-bottom: 9px;
  padding: 39px 14px;
  background-color: #f7f3ec;
  border-radius: 4px;
}

.scale {
  width: 100%;
  height: 2px;
  background-color: #d7dcde;
}

.scale-filler {
  position: relative;
  width: 90%;
  height: 2px;
  background-color: #00ca74;
}

.scale-toggle-min,
.scale-toggle-max {
  position: absolute;
  top: -9px;
  z-index: 100;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.scale-toggle-min {
  left: 0;
}

.scale-toggle-max {
  right: 0;
}

.price-controls {
  margin-bottom: 21px;
}

.min-price-range,
.max-price-range {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 95px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000;
  background-color: #f7f3ec;
  border: none;
}

.max-price-range::-webkit-input-placeholder,
.min-price-range::-webkit-input-placeholder {
  color: #000;
}

.max-price-range::-moz-placeholder,
.min-price-range::-moz-placeholder {
  color: #000;
}

.max-price-range:focus,
.min-price-range:focus {
  outline: 0;
}

.min-price-range {
  float: left;
}

.max-price-range {
  float: right;
}

.range-divisor {
  float: left;
  width: 20px;
  padding: 10px 5px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;

}

.filter-item {
  margin-bottom: 20px;
}

.filter-item input[type="checkbox"] {
  display: none;
}

.manufacture-label {
  position: relative;
  padding-left: 35px;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Verdana, sans-serif;
  text-transform: uppercase;
  color: #000;
}

.manufacture-label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/sprites.png");
  background-position: -10px -82px;
  cursor: pointer;
  opacity: 0.7;
}

.manufacture-label:hover::before{
  opacity: 1;
}

.filter-item input[type="checkbox"]:checked ~ .manufacture-label::before {
  width: 27px;
  background-position: -10px -125px;
}

.filter-item input[type="checkbox"]:disabled ~ .manufacture-label::before {
  opacity: 0.3;
  cursor: default;
}

.filter-item input[type="checkbox"]:disabled {
  opacity: 0.3;
  cursor: default;
}

.filter-item input[type="radio"] {
  display: none;
}

.power-type-label {
  position: relative;
  padding-left: 35px;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Verdana, sans-serif;
  text-transform: uppercase;
  color: #000;
}

.power-type-label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/sprites.png");
  background-position: -10px -168px;
  cursor: pointer;
  opacity: 0.7;
}

.power-type-label:hover::before {
  opacity: 1;
}

.filter-item input[type="radio"]:checked ~ .power-type-label::before {
  background-position: -10px -213px;
}

.filter-item input[type="radio"]:disabled ~ .power-type-label::before {
  opacity: 0.3;
  cursor: default;
}

.filter-submit {
  padding: 9px 39px;
  font-family: "PT Sans", Verdana, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #e5e5e5;
}

/*=================*/
/*==Catalog-items==*/
/*=================*/

.catalog-filter {
  margin: 0 0 21px 0;
  padding: 10px 14px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Verdana, sans-serif;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 4px;
}

.catalog-filter-title {
  float: left;
  margin-right: 20px;
  width: 206px;
}

.catalog-filter-types {
  float: left;
  margin-right: 20px;
  width: 380px;
}

.filter-type {
  float: left;
  display: block;
  font-size: 13px;
  line-height: 17px;
  font-family: "PT Sans", Verdana, sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.filter-type:hover {
  color: #000;
  border-bottom-style: solid;
}

.filter-type:active {
  color: #ee3643;
  border: none;
}

.filter-by-price {
  margin-right: 70px;
}

.filter-by-type {
  margin-right: 65px;
}

.filter-directions {
  float: right;
  width: 46px;
}

.filter-direction {
  color: #c6c2bd;
}

.from-up {
  margin-right: 15px;
}

.filter-direction:hover {
  color: #000;
}

.filter-direction:active {
  color: #ee3643;
}

.active-filter {
  color: #ee3643;
  border: none;
}

.active-filter:hover {
  color: #ee3643;
  border: none;
  cursor: default;
}

.catalog-items {
  float: right;
  width: 700px;
}

.catalog-items-list {
  margin: 0;
  padding: 0;
  font-size: 0;
}
/*==========*/
/*==Offers==*/
/*==========*/

.offer {
  position: relative;
  float: left;
  width: 300px;
  margin: 0 0 20px 20px;
  height: 123px;
  background-color: #f6b22d;
}

.offer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 123px;
  background: url("../img/spritesheet-offers.png") no-repeat;
}

.offer-1 {
  margin-left: 0;
}

.offer-1::after {
  background-position: -10px -439px;
}

.offer-2 {
  background-color: #4aafde;
}

.offer-2::after {
  background-position: -10px -296px;
}

.offer-3 {
  background-color: #cc79d1;
}

.offer-3::after {
  background-position: -10px -582px;
}

.offers-section {
  margin-bottom: 52px;
}

.offer-4 {
  background-color: #85d179;
}

.offer-4::after {
  background-position: -10px -153px;
}

.offer-5 {
  background-color: #f6b22d;
  margin-bottom: 0;
}

.offer-5::after {
  background-position: -10px -10px;
}

.offer-section {
  float: left;
  width: 138px;
  padding: 26px 0 0 22px
}

.offer-title {
  width: 138px;
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
}

.offer-link {
  display: block;
  float: right;
  width: 111px;
  padding: 12px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.offer-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.offer-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

/*==========*/
/*==Slider==*/
/*==========*/

.slider {
  position: relative;
  float: left;
  width: 620px;
  height: 266px;
  background-color: #baaa9d;
}

.slider input {
  display: none;
}

.slide {
  display: none;
}

.slider-arrow {
  position: absolute;
  z-index: 60;
  top: 113px;
  width: 22px;
  height: 40px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -10px -364px;
  cursor: pointer;
}

.arrow-left {
  left: 25px;
  transform: scale(-1, 1);
}

.arrow-right {
  right: 20px;
}

.slide-header {
  position: absolute;
  z-index: 50;
  top: 26px;
  left: 25px;
  width: 350px;
}

.slide-title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 36px;
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
}

.slide-info {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", Verdana, sans-serif;
  color: #fff;
}

.slide img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 620px;
  height: 266px;
}

.slide-btn {
  position: absolute;
  z-index: 50;
  bottom: 21px;
  left: 26px;
  width: 175px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 29px;
  z-index: 60;
  transform: translateX(-50%);
  width: 140px;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  margin-right: 5px;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

#id-slide-1:checked ~ .slider-controls label[for="id-slide-1"],
#id-slide-2:checked ~ .slider-controls label[for="id-slide-2"] {
  background-color: #ee3643;
}

#id-slide-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#id-slide-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

/*=================*/
/*==Index-popular==*/
/*=================*/

.index-popular-header {
  margin-bottom: 21px;
  padding: 26px 23px 25px 28px;
  background-color: #f7f3ec;

}

.index-popular-title {
  float: left;
  margin: 7px 0 0 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.popular-header-btn {
  float: right;
  width: 233px;
}

.items-row {
  margin-left: -20px;
}

.index-popular-items {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  min-height: 317px;
  margin: 0 0 21px 20px;
  border: 1px solid #e5e5e5;
  font-family: "PT Sans" , Verdana, sans-serif;
  vertical-align: top;
  background-color: #fff;
}

.catalog-new-flag {
  top: -1px;
  right: -1px;
  z-index: 10;
}

.catalog-actions {
  position: absolute;
  display: none;
  top: -1px;
  left: 0;
  width: 220px;
  height: 170px;
  padding-top: 44px;
}

.item-action {
  display: block;
  width: 112px;
  margin: 0 auto;
  padding: 10px 9px 9px 9px;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-radius: 3px;
}

.item-action-buy {
  position: relative;
  border-bottom-color: #367315;
  margin-bottom: 7px;
}

.item-action-buy::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 10px;
  width: 17px;
  height: 16px;
  background: url("../img/sprites.png") no-repeat;
  background-position: -10px -10px;
  opacity: 0.3;
}

.item-action-bookmark {
  color: #32425c;
  background-color: #fff;
}

.catalog-item img {
  width: 100%;
}

.catalog-item-image {
  margin-bottom: 8px;
  width: 218px;
  height: 170px;
}

.catalog-item-category  {
  display: block;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.catalog-item-model {

}

.catalog-item-discount {
  display: block;
  margin-bottom: 11px;
  font-size: 17px;
  line-height: 19px;
  font-weight: bold;
  text-decoration: line-through;
  text-align: center;
  color: #999;
}

.catalog-item-price {
  position: relative;
  width: 121px;
  margin: 0 0 20px 42px;
  padding: 10px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 4px;
}

.catalog-item-price::after {
  content: "";
  top: 0;
  right: -19px;
  position: absolute;
  border: 19px solid #fff;
  border-left-color: #ee3643
}

.catalog-item:hover img{
  visibility: hidden;
}

.catalog-item:hover  {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .catalog-actions{
  display: block;
}

.item-action-buy:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d #5fbb2d #367315 #5fbb2d;
}

.item-action-buy:hover::before {
  opacity: 1;
}

.item-action-buy:active {
  background-color: #518534;
  border-color: #518534;
}

.item-action-buy:active::before {
  opacity: 1;
}

.item-action-bookmark:hover {
  border-color: #32425c;
}

.item-action-bookmark:active {
  opacity: 0.3;
}

/*========================*/
/*==Index-popular brands==*/
/*========================*/

.index-popular-brands {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  margin-bottom: 65px;
}

.index-popular-brands li {
  position: relative;
  display: inline-block;
  width: 218px;
  height: 143px;
  margin: 0 0 20px 20px;
  border: 1px solid #e5e5e5;
}

.brand {
  display: block;
}

.index-popular-brands img {
  width: 100%;
}

.index-popular-brands li:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.index-popular-brands li:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.index-popular-brands li:active img {
  opacity: 0.3;
}

/*============*/
/*==Services==*/
/*============*/

.services {
  min-height: 458px;
  margin-bottom: 80px;
  padding: 64px 0 0 0;
  background-color: #f2f6f8;
}

.services h3 {
  margin: 0 0 25px 0;
  padding: 0;
  text-transform: uppercase;
}

.services p {
  font-family: "PT Sans", Verdana, sans-serif;
}

.services-description {
  margin: 0;
  padding: 0 0 68px 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans" , Verdana, sans-serif;
}

.services-section {
  position: relative;
}

.services-section input[type="radio"] {
  display: none;
}

.services-menu {
  position: relative;
  float: left;
  margin: 0 80px 0 0;
  padding: 0;
  width: 240px;
  list-style: none;
}

.services-menu li {
  width: 100%;
}

.services-menu::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: -45px;
  right: 0;
  width: 10px;
  height: 272px;
  background: url("../img/vertical_shadow.png") no-repeat;
}

.services-menu-item {
  display: block;
  padding: 19px 20px 19px 22px;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #fff;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  cursor: pointer;
}

.services-menu-item:hover {
  background-color: #293449;
}

#id-service-1:checked ~ .services-menu label[for="id-service-1"],
#id-service-2:checked ~ .services-menu label[for="id-service-2"],
#id-service-3:checked ~ .services-menu label[for="id-service-3"] {
  color: #32425c;
  background-color: #fff;
  border-color: #fff;
}

#id-service-1:checked ~ .service-info.service-1-info,
#id-service-2:checked ~ .service-info.service-2-info,
#id-service-3:checked ~ .service-info.service-3-info {
  display: block;
}

.service-info {
  display: none;-info .service-1-info}

.service-info-title {
  padding: 0;
  margin: 0 0 24px 0;
  font-size: 34px;
  text-transform: uppercase;
}

.service-info-description {
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
}

.service-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 261px;
  overflow: hidden;
}

.service-info-btn {
  float: left;
  width: 175px;
}


/*=================*/
/*==About-something*/
/*=================*/

.about-something {
  padding: 60px 0 71px 0;
  background-color: #f2f6f8;
}

.about-something-info {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Verdana, sans-serif;
  line-height: 22px;
}

/*==============*/
/*==Pagination==*/
/*==============*/

.pagination {
  margin: 0;
  padding: 24px 0 0 0;
  list-style: none;
  font-size: 0;
}

.pagination li {
  display: inline-block;
  vertical-align: top;
}

.pagination-item {
  display: block;
  margin-right: 10px;
  padding: 12px 14px;
  font-size: 13px;
  line-height: 14px;
  font-family: "PT Sans", Verdana, sans-serif;
  text-align: center;
  color: #000;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.next-page {
  padding: 12px 30px;
}

.pagination-item:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item:active {
  border: 1px solid #ee3643;
}

.pagination-current {
  color: #fff;
  background-color: #ee3643;
  cursor: default;
  border: 1px solid #ee3643;
}

.pagination-current:hover {
  color: #fff;
  background-color: #ee3643;
  cursor: default;
  border: 1px solid #ee3643;
}

.pagination-current:active {
  color: #fff;
  background-color: #ee3643;
  cursor: default;
  border: 1px solid #ee3643;
}
/*========*/
/*==Info==*/
/*========*/

.info {
  padding: 0 0 86px 0;
}

.info-section-left {
  float: left;
  width: 540px;
}

.info-section-title {
  margin: 0 0 25px 0;
  padding: 0;
  color: #000;
  text-transform: uppercase;
}

.info-section-description {
  margin: 0 0 26px 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Verdana, sans-serif;
}

.info-section-left p:last-of-type  {
  margin-bottom: 20px;
}

.info-section-list {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}

.info-section-list li {
  position: relative;
  margin: 0 0 20px 0;
  padding: 0 0 0 36px;
  font-size: 18px;
  line-height: 20px;
}

.info-section-list li::before {
  position: absolute;
  content: "";
  left: 0;
  top: 8px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.info-section-list li:last-child {
  margin-bottom: 35px;
}

.info-section-left-btn {
  clear: both;
  float: left;
  width: 200px;
}

.info-section-right {
  float: right;
  width: 300px;
}

.map-preview {
  position: relative;
  margin-bottom: 46px;
  width: 300px;
  height: 158px;
  background: url("../img/map_preview.jpg") no-repeat;
}

.map-overlay {
  position: absolute;
  width: 300px;
  height: 158px;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

/*==========*/
/*==Footer==*/
/*==========*/

.footer {
  padding-bottom: 49px;
  background-color: #32425c;
}

.footer-section-left {
  float: left;
  width: 380px;
}

.footer-logo {
  margin-bottom: 32px;
  padding: 17px 16px 16px 16px;
  width: 188px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
}

.footer-address {
  clear: both;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Cuprum", Verdana, sans-serif;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-section-right {
  float: right;
  width: 550px;
}

.footer-menu {
  margin: 36px 0 0 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.footer-menu li {
  display: inline-block;
  vertical-align: top;
}

.footer-menu-1 li {
  margin-left: 59px;
}

.footer-menu-1 li:first-child {
  margin-left: 0;
}

.footer-menu a {
  display: block;
  font-size: 18px;
  line-height: 24px;
}

.footer-menu-2 li {
  margin-left: 64px;
}

.footer-menu-2 li:first-child {
  margin-left: 10px;
}

.footer-menu-2 a {
  color: #ffd180;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer-menu a:active {
  text-decoration: none;
  opacity: 0.5;
}
/*===================*/
/*==Bottom section===*/
/*===================*/
.bottom-section {
  padding: 36px 0 30px 0;
  background-color: #293449;
}

.bottom-copyright {
  float: left;
  width: 320px;
  margin: 0 60px 0 0;
  font-size: 16px;
  font-family: "Cuprum", Verdana, sans-serif;
  line-height: 18px;
  color: #fff;
}

.bottom-socials {
  float: left;
  padding: 0 0 0 10px;
  margin: 0 20px 0 0;
  text-align: center;
}

.social-btn {
  position: relative;
  display: inline-block;
  width: 41px;
  height: 41px;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  background-color: #212a3a;
  border-radius: 50%;

}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: url("../img/sprites.png") no-repeat;
  transform: translate(-50%, -50%);

}

.social-btn-vk::before {
  width: 20px;
  height: 12px;
  background-position: -10px -725px;
}


.social-btn-fb::before {
  width: 10px;
  height: 18px;
  background-position: -10px -650px;
}

.social-btn-instagram::before {
  width: 17px;
  height: 17px;
  background-position: -10px -688px;
}

.social-btn:hover,
.social-btn:active {
  background-color: #ee3643;
}

.bottom-contacts {
  float: right;
}

.bottom-contacts-section {
  float: left;
  min-width: 150px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", Verdana, sans-serif;
  color: #fff;
}

.bottom-contacts-section.call-back {
  margin: 0 20px 0 0;
}

.bottom-contacts-section.design-by {
  min-width: 110px;
  padding: 0 0 0 20px;
}

.bottom-contacts a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.bottom-contacts a:hover {
  text-decoration: underline;
}

.bottom-contacts a:active {
  color: #ee3643;
  text-decoration: none;
}

/*=========================*/
/*==Popup - write us form==*/
/*=========================*/

.write-us-form {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  width: 620px;
  height: 423px;
  color: #000;
  border-top: 7px solid #ee3643;
  background-color: #fff;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.close-button {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  font-size: 0;
  cursor: pointer;
}

.map-close {
  top: -11px;
  right: -11px;
}

.close-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 8px;
  width: 5px;
  height: 21px;
  background-color: #ee3643;
  transform: rotate(45deg);
}

.close-button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 8px;
  width: 5px;
  height: 21px;
  background-color: #ee3643;
  transform: rotate(-45deg);
}

.popup-container {
  width: 460px;
  margin: 0 auto 37px auto;
}

.write-us-inputs-left {
  float: left;
  width: 220px;
  margin: 45px 0 19px 0;
}

.write-us-inputs-right {
  float: right;
  width: 220px;
  margin: 45px 0 19px 0;
}

.write-us-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
}

.write-us-form input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  padding: 8px 14px;
  font-size: 13px;
  font-family: "PT Sans", Verdana, sans-serif;
  line-height: 18px;
  color: #999;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  outline: 0;
}

.write-us-form textarea {
  clear: both;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 460px;
  padding: 8px 14px;
  font-size: 13px;
  font-family: "PT Sans", Verdana, sans-serif;
  line-height: 18px;
  color: #999;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  outline: 0;
}

.write-us-section {
  padding: 37px 0 37px 0;
  background-color: #f1f1f1;
}

.write-us-btn {
  width: 452px;
  margin: 0 auto;
  color: #fff;
  outline: 0;
}

/*=============*/
/*==Popup map==*/
/*=============*/

.popup-map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 940px;
  height: 450px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 16px 9px rgba(35, 31, 32, 0.5);
  background:#e9e5dc url("../img/information_map_big.jpg") no-repeat;
}

/*===================*/
/*==Popup cart-plus==*/
/*===================*/

.cart-plus {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 620px;
  height: 275px;
  transform: translate(-50%, -50%);
  border-top: 7px solid #ee3643;
  background-color: #fff;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.cart-plus-container {
  width: 460px;
  margin: 0 auto;
}

.cart-plus-section {

}

.cart-plus-salute {
  position: relative;
  margin: 62px 0 62px 0;
  padding: 0 0 0 98px;
  font-size: 30px;
  font-family: "Cuprum";
  line-height: 39px;
}

.cart-plus-salute::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 66px;
  height: 66px;
  background: url("../img/cart-plus-ok.png") no-repeat;
}

.cart-plus-section-bottom {
  padding: 37px 0;
  background-color: #f1f1f1;
}

.cart-plus-order {
  float: left;
  width: 200px;
}

.cart-plus-continue {
  float: right;
  width: 200px;
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.cart-plus-continue:hover {
  color: #000;
  background-color: #ccc;
  border-color: #ccc;
}

.cart-plus-continue:active {
  color: #000;
  background-color: #999;
  border-color: #999;
}

/*===================*/
/*==Overlay==========*/
/*===================*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

