body {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
}

h1 {
  font-weight: normal;
  font-size: 30px;
  line-height: 1.5;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
}

h2 {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  font-family: "PTSans", "Arial", sans-serif;
  color: #000000;
}

.hidden {
  display: none;
}

.hollow {
  visibility: hidden;
}